<div class="hero-unit">
  <h2 class="title"><%= toDo.title %></h2>
  <%- linkTo('Edit this toDo', editToDoPath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', toDoPath(''), {class: 'btn pull-right'}); %>
</div>

<h2>ToDo Properties</h2>
<% for(var i in toDo) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= toDo[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>