<div class="hero-unit">
  <h2 class="name"><%= personalDetail.name %></h2>
  <%- linkTo('Edit this personalDetail', editPersonalDetailPath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', personalDetailPath(''), {class: 'btn pull-right'}); %>
</div>

<h2>PersonalDetail Properties</h2>
<% for(var i in personalDetail) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= personalDetail[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>